---

---

<div class="flex flex-row mt-5 gap-3 w-full justify-center">
    <a href="https://twitter.com/cheintian" target="_blank">
        <span class="sr-only">Follow me on Twitter</span>
        <?xml version="1.0" encoding="utf-8"?>
        <svg class="social-effect" width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
            <defs>
                <path d="M32 0L32 0L32 32L0 32L0 0L32 0Z" id="path_1" />
                <clipPath id="clip_1">
                    <use xlink:href="#path_1" clip-rule="evenodd" fill-rule="evenodd" />
                </clipPath>
            </defs>
            <g id="Twitter">
                <path d="M32 0L32 0L32 32L0 32L0 0L32 0Z" id="Twitter" fill="none" stroke="none" />
                <path d="M28 8.286C27.118 8.67667 26.1693 8.93733 25.1687 9.06067C26.186 8.45667 26.9687 7.49333 27.336 6.35533C26.384 6.91333 25.3293 7.32333 24.2073 7.53933C23.3113 6.58933 22.0333 6 20.6173 6C17.8973 6 15.6927 8.18533 15.6927 10.88C15.6927 11.2613 15.7373 11.6327 15.8213 11.9933C11.7293 11.788 8.1 9.84267 5.672 6.89067C5.24533 7.612 5.00533 8.45667 5.00533 9.348C5.00533 11.042 5.87267 12.5333 7.19533 13.412C6.388 13.3873 5.628 13.1627 4.96267 12.8027C4.96267 12.8173 4.96267 12.8393 4.96267 12.86C4.96267 15.2273 6.66067 17.1987 8.91133 17.6473C8.5 17.76 8.06533 17.8227 7.61734 17.8227C7.29934 17.8227 6.98934 17.7867 6.68933 17.7327C7.316 19.6673 9.134 21.0813 11.288 21.1233C9.60267 22.43 7.48 23.2127 5.172 23.2127C4.77334 23.2127 4.38334 23.19 3.998 23.1433C6.17867 24.524 8.768 25.3333 11.5473 25.3333C20.604 25.3333 25.5587 17.896 25.5587 11.444C25.5587 11.2327 25.552 11.022 25.542 10.814C26.5087 10.1313 27.342 9.27 28 8.286" id="Shape" fill="#03A9F4" stroke="none" clip-path="url(#clip_1)" />
            </g>
        </svg>
    </a>
    <a href="https://github.com/cheintian" target="_blank">
        <span class="sr-only">Go to GitHub repo</span>
        <?xml version="1.0" encoding="utf-8"?>
        <svg width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
            <defs>
                <path d="M32 0L32 0L32 32L0 32L0 0L32 0Z" id="path_1" />
                <clipPath id="clip_1">
                    <use xlink:href="#path_1" clip-rule="evenodd" fill-rule="evenodd" />
                </clipPath>
            </defs>
            <g id="Octocat">
                <path d="M32 0L32 0L32 32L0 32L0 0L32 0Z" id="Octocat" fill="none" stroke="none" />
                <path d="M26.8667 10.4667C27.2667 9.33333 27.6667 7.13333 26.6 4.66667C23.6 4.66667 21.0667 6.8 20.6667 7.2C19.2 6.86667 17.6 6.73333 16 6.73333C14.3333 6.73333 12.7333 6.93333 11.2 7.26667C9.13333 5.13333 6.4 4.66667 5.33333 4.66667C5.33333 4.66667 4.73333 5.86667 4.73333 8C4.73333 9.33333 5.06667 10.1333 5.26667 10.5333C3.66667 12.2 2.66667 14.4667 2.66667 17.4C2.66667 24.8667 7.4 27.4 16 27.4C24.6 27.4 29.3333 24.8667 29.3333 17.4C29.3333 14.3333 28.4 12.0667 26.8667 10.4667L26.8667 10.4667Z" id="Shape" fill="#455A64" stroke="none" clip-path="url(#clip_1)" />
                <path d="M16 26C10.5333 26 6 25.0667 6 20C6 18.0667 7.06667 17 7.8 16.3333C9.46667 14.8667 12.2667 15.5333 16 15.5333C18.7333 15.5333 21.0667 15.0667 22.9333 15.6667C24.8 16.2667 26 18 26 19.8667C26 25.1333 23.3333 26 16 26L16 26Z" id="Shape" fill="#FFCCBC" stroke="none" clip-path="url(#clip_1)" />
                <path d="M16.6667 22.6667C16.6667 23.0667 16.4 23.3333 16 23.3333C15.6 23.3333 15.3333 23.0667 15.3333 22.6667C15.3333 22.2667 15.6 22 16 22C16.4 22 16.6667 22.2667 16.6667 22.6667L16.6667 22.6667ZM17.6667 24.3333C17.8 24.2 17.8 24 17.6667 23.8667C17.5333 23.7333 17.3333 23.7333 17.2 23.8667C16.6 24.4667 15.4667 24.4667 14.8667 23.8667C14.7333 23.7333 14.5333 23.7333 14.4 23.8667C14.2667 24 14.2667 24.2 14.4 24.3333C14.8667 24.8 15.4 25 16.0667 25C16.7333 25 17.2 24.7333 17.6667 24.3333L17.6667 24.3333Z" id="Shape" fill="#D84315" fill-rule="evenodd" stroke="none" clip-path="url(#clip_1)" />
                <path d="M12.6667 19.6667C12.6667 21.3333 11.8 22.6667 10.6667 22.6667C9.53333 22.6667 8.66667 21.3333 8.66667 19.6667C8.66667 18 9.53333 16.6667 10.6667 16.6667C11.8 16.6667 12.6667 18 12.6667 19.6667L12.6667 19.6667ZM21.3333 16.6667C20.2 16.6667 19.3333 18 19.3333 19.6667C19.3333 21.3333 20.2 22.6667 21.3333 22.6667C22.4667 22.6667 23.3333 21.3333 23.3333 19.6667C23.3333 18 22.4667 16.6667 21.3333 16.6667L21.3333 16.6667Z" id="Shape" fill="#FFFFFF" fill-rule="evenodd" stroke="none" clip-path="url(#clip_1)" />
                <path d="M22.6667 20C22.6667 21.1333 22.0667 22 21.3333 22C20.6 22 20 21.1333 20 20C20 19.8667 20 19.6667 20.0667 19.5333C20.1333 19.8 20.4 20 20.6667 20C21.0667 20 21.3333 19.7333 21.3333 19.3333C21.3333 18.9333 21.0667 18.6667 20.6667 18.6667C20.5333 18.6667 20.4 18.7333 20.2667 18.8C20.5333 18.3333 20.8667 18 21.3333 18C22.0667 18 22.6667 18.8667 22.6667 20L22.6667 20ZM10.6667 18C10.2 18 9.86667 18.3333 9.6 18.8C9.73333 18.7333 9.86667 18.6667 10 18.6667C10.4 18.6667 10.6667 18.9333 10.6667 19.3333C10.6667 19.7333 10.4 20 10 20C9.73333 20 9.46667 19.8 9.4 19.5333C9.4 19.6667 9.33333 19.8667 9.33333 20C9.33333 21.1333 9.93333 22 10.6667 22C11.4 22 12 21.1333 12 20C12 18.8667 11.4 18 10.6667 18L10.6667 18Z" id="Shape" fill="#6D4C41" fill-rule="evenodd" stroke="none" clip-path="url(#clip_1)" />
            </g>
        </svg>
    </a>
    <a href="https://jihulab.com/cltian" target="_blank">
        <span class="sr-only">Go to GitLab repo</span>
        <?xml version="1.0" encoding="utf-8"?>
        <svg width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
            <defs>
                <path d="M32 0L32 0L32 32L0 32L0 0L32 0Z" id="path_1" />
                <clipPath id="clip_1">
                    <use xlink:href="#path_1" clip-rule="evenodd" fill-rule="evenodd" />
                </clipPath>
            </defs>
            <g id="Gitlab">
                <path d="M32 0L32 0L32 32L0 32L0 0L32 0Z" id="Gitlab" fill="none" stroke="none" />
                <path d="M16 28.6667L10.6667 13.3333L21.3333 13.3333L16 28.6667Z" id="Shape" fill="#E53935" stroke="none" clip-path="url(#clip_1)" />
                <path d="M16 28.6667L28 13.3333L21.3333 13.3333L16 28.6667Z" id="Shape" fill="#FF7043" stroke="none" clip-path="url(#clip_1)" />
                <path d="M24.6667 3.33333L28 13.3333L21.3333 13.3333L24.6667 3.33333Z" id="Shape" fill="#E53935" stroke="none" clip-path="url(#clip_1)" />
                <path d="M16 28.6667L28 13.3333L30 18.6667L16 28.6667Z" id="Shape" fill="#FFA726" stroke="none" clip-path="url(#clip_1)" />
                <path d="M16 28.6667L4 13.3333L10.6667 13.3333L16 28.6667Z" id="Shape" fill="#FF7043" stroke="none" clip-path="url(#clip_1)" />
                <path d="M7.33333 3.33333L4 13.3333L10.6667 13.3333L7.33333 3.33333Z" id="Shape" fill="#E53935" stroke="none" clip-path="url(#clip_1)" />
                <path d="M16 28.6667L4 13.3333L2 18.6667L16 28.6667Z" id="Shape" fill="#FFA726" stroke="none" clip-path="url(#clip_1)" />
            </g>
        </svg>
    </a>
    <a href="https://www.youtube.com/@maxtian4559" target="_blank">
        <span class="sr-only">Go to YouTube</span>
        <?xml version="1.0" encoding="utf-8"?>
        <svg width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
            <defs>
                <path d="M32 0L32 0L32 32L0 32L0 0L32 0Z" id="path_1" />
                <clipPath id="clip_1">
                    <use xlink:href="#path_1" clip-rule="evenodd" fill-rule="evenodd" />
                </clipPath>
            </defs>
            <g id="Youtube">
                <path d="M32 0L32 0L32 32L0 32L0 0L32 0Z" id="Youtube" fill="none" stroke="none" />
                <path d="M28.8 22.6C28.5333 24 27.4 25.0667 26 25.2667C23.8 25.6 20.1333 26 16 26C11.9333 26 8.26667 25.6 6 25.2667C4.6 25.0667 3.46667 24 3.2 22.6C2.93333 21.0667 2.66667 18.8 2.66667 16C2.66667 13.2 2.93333 10.9333 3.2 9.4C3.46667 8 4.6 6.93333 6 6.73333C8.2 6.4 11.8667 6 16 6C20.1333 6 23.7333 6.4 26 6.73333C27.4 6.93333 28.5333 8 28.8 9.4C29.0667 10.9333 29.4 13.2 29.4 16C29.3333 18.8 29.0667 21.0667 28.8 22.6L28.8 22.6Z" id="Shape" fill="#FF3D00" stroke="none" clip-path="url(#clip_1)" />
                <path d="M13.3333 20.6667L13.3333 11.3333L21.3333 16L13.3333 20.6667Z" id="Shape" fill="#FFFFFF" stroke="none" clip-path="url(#clip_1)" />
            </g>
        </svg>
    </a>
    <a href="https://app.daily.dev/maxt" target="_blank">
        <span class="sr-only">Go to Daily</span>
        <?xml version="1.0" encoding="utf-8"?>
        <svg width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
            <defs>
                <linearGradient gradientUnits="objectBoundingBox" x1="0" y1="0" x2="0.1953125" y2="0" id="gradient_1">
                    <stop offset="0%" stop-color="#C13DF2" />
                    <stop offset="100%" stop-color="#C13DF2" />
                </linearGradient>
                <path d="M32 0L32 0L32 32L0 32L0 0L32 0Z" id="path_1" />
                <path d="M24 0L24 0L24 24L0 24L0 0L24 0Z" id="path_2" />
                <clipPath id="clip_1">
                    <use xlink:href="#path_1" clip-rule="evenodd" fill-rule="evenodd" />
                </clipPath>
                <clipPath id="clip_2">
                    <use xlink:href="#path_2" clip-rule="evenodd" fill-rule="evenodd" />
                </clipPath>
            </defs>
            <g id="logo">
                <path d="M32 0L32 0L32 32L0 32L0 0L32 0Z" id="logo" fill="none" stroke="none" />
                <path d="M0 15.625L0 7.8125C0 5.65514 0.762743 3.81371 2.28823 2.28823C3.81371 0.762743 5.65514 0 7.8125 0L24.1875 0C26.3449 0 28.1863 0.762743 29.7118 2.28823C31.2373 3.81371 32 5.65514 32 7.8125L32 24.1875C32 26.3449 31.2373 28.1863 29.7118 29.7118C28.1863 31.2373 26.3449 32 24.1875 32L7.8125 32C5.65514 32 3.81371 31.2373 2.28823 29.7118C0.762743 28.1863 0 26.3449 0 24.1875L0 15.625Z" id="r4" fill="url(#gradient_1)" fill-opacity="0" fill-rule="evenodd" stroke="#000000" stroke-opacity="0" stroke-width="0" clip-path="url(#clip_1)" />
                <g id="Frame" clip-path="url(#clip_1)">
                    <path d="M24 0L24 0L24 24L0 24L0 0L24 0Z" id="Frame" fill="none" stroke="none" transform="translate(4 4)" />
                    <path d="M20.6092 11.95L17.9599 7.23002L19.2839 2.51185L23.5885 10.1807C24.1369 11.1579 24.1369 12.742 23.5885 13.719L18.2903 23.158C17.7419 24.135 16.8526 24.135 16.304 23.158C15.7556 22.1808 15.7556 20.5967 16.304 19.6197L20.6092 11.95L20.6092 11.95Z" id="Shape" fill="#D1C4E9" stroke="none" clip-path="url(#clip_2)" transform="translate(4 4)" />
                    <path d="M16.3052 0.732679C16.8537 -0.244488 17.7432 -0.243988 18.2917 0.733012L19.285 2.50268L7.69599 23.1487C7.14755 24.1259 6.25796 24.1254 5.70952 23.1483L4.71615 21.3787L16.3052 0.732679L16.3052 0.732679ZM11.3383 7.22169L9.35152 10.761L6.70214 6.04102L3.39061 11.9407L6.03999 16.6605L4.71595 21.3787L0.411328 13.7099C-0.137109 12.7329 -0.137109 11.1485 0.411328 10.1715L5.70933 0.73319C6.25777 -0.243976 7.14727 -0.244476 7.6958 0.73269L11.3383 7.22169L11.3383 7.22169Z" id="Shape" fill="#C13DF2" fill-rule="evenodd" stroke="none" clip-path="url(#clip_2)" transform="translate(4 4)" />
                </g>
            </g>
        </svg>
    </a>
    <a href="https://telegram.org/" target="_blank">
        <span class="sr-only">Telegram</span>
        <?xml version="1.0" encoding="utf-8"?>
        <svg width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
            <defs>
                <path d="M32 0L32 0L32 32L0 32L0 0L32 0Z" id="path_1" />
                <clipPath id="clip_1">
                    <use xlink:href="#path_1" clip-rule="evenodd" fill-rule="evenodd" />
                </clipPath>
            </defs>
            <g id="Telegram">
                <path d="M32 0L32 0L32 32L0 32L0 0L32 0Z" id="Telegram" fill="none" stroke="none" />
                <path d="M2 16C2 8.26801 8.26801 2 16 2C23.732 2 30 8.26801 30 16C30 23.732 23.732 30 16 30C8.26801 30 2 23.732 2 16Z" id="Circle" fill="#74CCCF" fill-rule="evenodd" stroke="none" clip-path="url(#clip_1)" />
                <path d="M30.034 16C30.034 18.5507 29.3213 20.9433 28.1293 23.0027C26.9 25.1273 25.2593 27.1287 23.1347 28.358C21.0753 29.5493 18.55 30.272 16 30.272C13.4493 30.272 10.9553 29.4953 8.896 28.304C6.77133 27.0747 4.998 25.186 3.76933 23.0613C2.578 21.002 2.252 18.5507 2.252 16C2.252 13.4493 2.70533 11.0713 3.89667 9.012C5.126 6.88733 6.80733 4.98667 8.932 3.75733C10.9913 2.566 13.4493 2.12533 16 2.12533C18.5507 2.12533 20.914 2.72933 22.9733 3.92133C25.098 5.15067 26.67 7.006 27.8993 9.13067C29.0907 11.19 30.034 13.4493 30.034 16L30.034 16Z" id="Shape" fill="none" stroke="#010101" stroke-width="1" clip-path="url(#clip_1)" />
                <path d="M11.7927 17.876C12.1207 19.1467 12.5187 20.3993 12.9827 21.6267C13.0833 21.8927 13.2267 22.1933 13.504 22.2573C13.7487 22.3133 13.9873 22.156 14.184 22C14.748 21.552 15.2613 21.0407 15.712 20.4787C16.4607 21.1027 17.248 21.684 17.9967 22.308C18.288 22.5507 18.586 22.7973 18.9393 22.9347C19.2927 23.0713 19.718 23.0813 20.0293 22.8653C20.2433 22.7173 20.3793 22.4827 20.4907 22.2473C20.7333 21.7373 20.9127 21.1993 21.046 20.6507C21.5793 18.4467 21.6133 16.48 22.5953 14.0267C22.9107 13.2387 22.9767 12.366 23.0307 11.52C23.0627 11.0213 22.67 10.6013 22.1713 10.5813C21.578 10.5573 20.9973 10.71 20.4253 10.882C16.3407 12.11 12.704 13.7127 9.082 15.3273C8.74533 15.4773 8.386 15.6027 8.12467 15.8627C7.97733 16.0093 7.86 16.208 7.88133 16.4147C7.92 16.7933 8.35866 16.9727 8.72666 17.068C9.75133 17.3333 10.7553 17.678 11.7927 17.876L11.7927 17.876Z" id="Shape" fill="#D6E5E5" stroke="none" clip-path="url(#clip_1)" />
                <path d="M13.8953 18.8727C13.8953 18.8727 13.6927 22.142 13.6927 22.142C13.6927 22.142 15.7127 20.478 15.7127 20.478C15.7127 20.478 13.8953 18.8727 13.8953 18.8727Z" id="Polygon" fill="#BCBCBC" fill-rule="evenodd" stroke="none" clip-path="url(#clip_1)" />
                <path d="M13.814 18.6733C14.5533 19.418 15.322 20.134 16.1173 20.8193" id="Shape" fill="none" stroke="#010101" stroke-width="1" stroke-linejoin="round" clip-path="url(#clip_1)" />
                <path d="M12.176 17.592C12.176 17.592 19.76 12.6367 19.76 12.6367C19.76 12.6367 20.0973 12.94 20.0973 12.94C20.0973 12.94 14.1313 18.4347 14.1313 18.4347C14.1313 18.4347 13.8613 19.2773 13.8613 19.2773C13.8613 19.2773 13.4233 22.1087 13.4233 22.1087C13.4233 22.1087 11.8387 18.1313 11.8387 18.1313C11.8387 18.1313 12.176 17.592 12.176 17.592Z" id="Polygon" fill="#BCBCBC" fill-rule="evenodd" stroke="none" clip-path="url(#clip_1)" />
                <path d="M11.7927 17.876C12.1207 19.1467 12.5187 20.3993 12.9827 21.6267C13.0833 21.8927 13.2267 22.1933 13.504 22.2573C13.7487 22.3133 13.9873 22.156 14.184 22C14.748 21.552 15.2613 21.0407 15.712 20.4787C16.4607 21.1027 17.248 21.684 17.9967 22.308C18.288 22.5507 18.586 22.7973 18.9393 22.9347C19.2927 23.0713 19.718 23.0813 20.0293 22.8653C20.2433 22.7173 20.3793 22.4827 20.4907 22.2473C20.7333 21.7373 20.9127 21.1993 21.046 20.6507C21.5793 18.4467 21.6133 16.48 22.5953 14.0267C22.9107 13.2387 22.9767 12.366 23.0307 11.52C23.0627 11.0213 22.67 10.6013 22.1713 10.5813C21.578 10.5573 20.9973 10.71 20.4253 10.882C16.3407 12.11 12.704 13.7127 9.082 15.3273C8.74533 15.4773 8.386 15.6027 8.12467 15.8627C7.97733 16.0093 7.86 16.208 7.88133 16.4147C7.92 16.7933 8.35866 16.9727 8.72666 17.068C9.75133 17.3333 10.7553 17.678 11.7927 17.876L11.7927 17.876Z" id="Shape" fill="none" stroke="#010101" stroke-width="1" stroke-linejoin="round" clip-path="url(#clip_1)" />
                <path d="M11.7927 17.876C14.0307 16.3947 16.084 15.0847 18.322 13.6033C18.7853 13.2967 20.03 12.4347 20.2353 12.762C20.5093 13.198 15.98 16.7187 13.8193 18.6813C13.71 19.8327 13.628 20.9873 13.5727 22.1427" id="Shape" fill="none" stroke="#010101" stroke-width="1" stroke-linejoin="round" clip-path="url(#clip_1)" />
            </g>
        </svg>

    </a>
    <a href="https://discord.com/users/872647574048354334" target="_blank">
        <span class="sr-only">Go to Discord</span>
        <?xml version="1.0" encoding="utf-8"?>
        <svg width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
            <defs>
                <path d="M32 0L32 0L32 32L0 32L0 0L32 0Z" id="path_1" />
                <clipPath id="clip_1">
                    <use xlink:href="#path_1" clip-rule="evenodd" fill-rule="evenodd" />
                </clipPath>
            </defs>
            <g id="Discord">
                <path d="M32 0L32 0L32 32L0 32L0 0L32 0Z" id="Discord" fill="none" stroke="none" />
                <path d="M27.7207 11.792C26.28 10.6227 24.3007 10.0253 22.9067 9.73067C21.9227 9.52267 20.93 10.0773 20.6067 11.0447C20.472 11.4473 20.2873 12.2333 20.2587 12.5367L20.2587 12.5367C18.9927 12.3573 17.9347 12.3373 17.3333 12.3373C16.7347 12.3373 15.6833 12.3567 14.4253 12.534C14.348 12.1107 14.17 11.3753 14.0593 11.0453C13.736 10.078 12.7433 9.52333 11.7593 9.73133C10.366 10.026 8.386 10.6233 6.94533 11.7927C5.75533 12.9027 3.05 19.5567 3.05 25.8453C4.33867 28.132 7.47933 29.2127 9.41333 29.6027C10.1773 29.7567 10.9573 29.448 11.418 28.8093L12.6267 27.124C13.9267 27.4473 15.4893 27.6787 17.3333 27.6787C19.1733 27.6787 20.734 27.448 22.032 27.126L23.248 28.808C23.708 29.4467 24.4887 29.7553 25.2527 29.6013C27.1867 29.2113 30.3273 28.1307 31.616 25.844C31.616 19.556 28.9107 12.9027 27.7207 11.792L27.7207 11.792Z" id="Shape" fill="#9FA8DA" stroke="none" clip-path="url(#clip_1)" />
                <path d="M29.828 17.0773C29.006 12.5327 27.2753 8.62067 26.3873 7.792C24.9467 6.62267 22.9673 6.02533 21.5733 5.73067C20.5893 5.52267 19.5967 6.07733 19.2733 7.04467C19.1387 7.44733 19.028 7.85133 18.9993 8.15467" id="Shape" fill="none" stroke="#18193F" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" clip-path="url(#clip_1)" />
                <path d="M20.78 23.234L21.9147 24.8087C22.3747 25.4473 23.1553 25.756 23.9193 25.602C25.8533 25.212 28.994 24.1313 30.2827 21.8447" id="Shape" fill="none" stroke="#18193F" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" clip-path="url(#clip_1)" />
                <path d="M3.86533 11.0467C2.77933 13.82 1.71667 17.9047 1.71667 21.846C3.00533 24.1327 6.146 25.2133 8.08 25.6033C8.844 25.7573 9.624 25.4487 10.0847 24.81L11.2193 23.2353" id="Shape" fill="none" stroke="#18193F" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" clip-path="url(#clip_1)" />
                <path d="M13 8.156C12.9713 7.85267 12.8607 7.44867 12.726 7.046C12.4027 6.07867 11.41 5.524 10.426 5.732C9.03267 6.02667 7.05267 6.624 5.612 7.79333" id="Shape" fill="none" stroke="#18193F" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" clip-path="url(#clip_1)" />
                <path d="M6.59467 21.02C6.59467 21.02 9.71067 23.6793 16 23.6793C22.2893 23.6793 25.4053 21.02 25.4053 21.02" id="Shape" fill="none" stroke="#18193F" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" clip-path="url(#clip_1)" />
                <path d="M24.3333 10.3333C21.1447 8.43933 17.3773 8.338 16 8.338C14.6227 8.338 10.8553 8.43933 7.66667 10.3333" id="Shape" fill="none" stroke="#18193F" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" clip-path="url(#clip_1)" />
                <path d="M9.38 17.3067C9.38 15.8486 10.4142 14.6667 11.69 14.6667C12.9658 14.6667 14 15.8486 14 17.3067C14 18.7647 12.9658 19.9467 11.69 19.9467C10.4142 19.9467 9.38 18.7647 9.38 17.3067Z" id="Oval" fill="#18193F" fill-rule="evenodd" stroke="none" clip-path="url(#clip_1)" />
                <path d="M17.9633 17.3333C17.9633 15.8606 19.008 14.6667 20.2967 14.6667C21.5853 14.6667 22.63 15.8606 22.63 17.3333C22.63 18.8061 21.5853 20 20.2967 20C19.008 20 17.9633 18.8061 17.9633 17.3333Z" id="Oval" fill="#18193F" fill-rule="evenodd" stroke="none" clip-path="url(#clip_1)" />
            </g>
        </svg>
    </a>

</div>
